{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "entry",
            "targets": "ie 11"
        }],
        "@babel/react"
    ],
    "env": {
        "development": {
            "presets": [["@babel/preset-react", { "development": true }]]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "removeImport": true
                }],
                "@babel/plugin-transform-react-constant-elements"
            ]
        },
        "test": {
            "plugins": [
                ["@babel/plugin-transform-runtime", {
                    "regenerator": true
                }],
                ["module-resolver", {
                    "root": ["src"]
                }]
            ]

        }
    }
}
