{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "entry",
            "targets": [
                "last 2 Chrome versions",
                "last 2 Firefox versions"
            ],
            "modules": false,
            "corejs": "3"
        }],
        "@babel/react"
    ],
    "env": {
        "development": {
            "presets": [["@babel/preset-react", { "development": true }]]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "removeImport": true
                }],
                "@babel/plugin-transform-react-constant-elements",
                "@babel/plugin-transform-react-inline-elements"
            ]
        }
    }
}
