{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "entry",
            "targets": "ie 11"
        }],
        ["@babel/react", {
            "pragma": "h"
        }]
    ],
    "env": {
        "development": {
            "presets": [["@babel/preset-react", {
                "pragma": "h",
                "development": true,
            }]]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "removeImport": true
                }]
            ]
        },
        "test": {
            "plugins": [
                ["@babel/plugin-transform-runtime", {
                    "regenerator": true
                }],
                ["module-resolver", {
                    "root": ["src"]
                }]
            ]

        }
    }
}
