{
    "extends": ["airbnb", "standard-preact"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["./src"]
            }
        }
    },
    "rules": {
        "no-mixed-operators": [2, { "allowSamePrecedence": true }],
        "react/no-did-mount-set-state": 0, // necessary for server-rendering
        // indents
        "indent": ["error", 4, {
            "SwitchCase": 1,
            "VariableDeclarator": 1,
            "outerIIFEBody": 1
        }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],

        "max-len": ["error", 140],
        // quotes should be project specific
        "quotes": 0,

        "no-console": ["error", {"allow": ["error"]}],
        "import/no-named-as-default": 0,
        // weird behavior
        "import/no-extraneous-dependencies": 0,
        "react/jsx-filename-extension": ["warn", {"extensions": [".js", ".jsx"]}],
        // too much edge cases https://github.com/eslint/eslint/issues/2023
        "new-cap": 0,
        // sometimes else branch can make things more legible
        "no-else-return": "off",
        // no need for radix for decimal numbers
        "radix": ["error", "as-needed"],
        // no spaces inside {}
        "object-curly-spacing": ["error", "never"],
        // parentheses around => params
        "arrow-parens": ["error", "always"],
        // due to package conventions and constants which sometimes contain only NAME
        "import/prefer-default-export": "off",
        // we want onClick handlers even for divs
        "jsx-a11y/no-static-element-interactions": "off",
        // imports first, but not relative after absolute
        "import/imports-first": ["error", ""],
        // too much problems
        "react/forbid-prop-types": "off",
        // nonsense
        "jsx-a11y/aria-role": "off",
        // we cover this by git
        "linebreak-style": "off",
        // we prefer top-down approach
        "no-use-before-define": "off",
        "object-curly-newline": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "react/no-typos": "off",
        "react/jsx-one-expression-per-line": "off",

        /* WARNINGS */
        "react/jsx-key": "warn",
    }
}
