{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
