@import "../theme";

.button {
    display: inline-block;
    background-color: white;
    border: 1px solid $color-grey;
    color: $color-grey;
    cursor: pointer;
    padding: 8px;
    user-select: none;
    box-sizing: border-box;
    font-size: $font-size-normal;
    @include transition(border-color, color, background-color);

    &:hover {
        color: $color-dark-grey;
        border-color: $color-dark-grey;
    }

    &:active {
        background: #eee;
        color: $color-dark-grey;
        border-color: $color-dark-grey;
    }
}

.block {
    display: block;
}

.disabled {
    //background: $color-light-grey;
    border: 1px solid $color-light-grey;
    color: $color-light-grey;
    cursor: default;
    &:hover {
        border-color: $color-light-grey;
        color: $color-light-grey;
    }

    &:active {
        background-color: white;
    }
}
