:root {
    --color-grey: #999;
    --color-dark-grey: #2f3941;
    --color-light-grey: #d8dcde;

    --font-size-normal: 1rem;
    --font-size-large: 1.5rem;
    --font-size-small: 0.5rem;
}

/*document.documentElement.style.setProperty('--somevar', 'green');*/

/*@mixin transition($properties...) {*/
/*    transition-property: $properties;*/
/*    transition-duration: 200ms;*/
/*    transition-timing-function: ease;*/
/*}*/
