.button {
    display: inline-block;
    background-color: white;
    border: 1px solid var(--color-grey);
    color: var(--color-grey);
    cursor: pointer;
    padding: 8px;
    user-select: none;
    box-sizing: border-box;
    font-size: var(--font-size-normal);
@include transition(border-color, color, box-shadow, background-color);
}

.button:hover {
    color: var(--color-dark-grey);
    border-color: var(--color-dark-grey);
}

.button:active {
    /*TODO*/
    background-color: #eee;
    color: var(--color-dark-grey);
    border-color: var(--color-dark-grey);
}

.button:focus {
    /*outline: none;*/
    /*box-shadow: 0 0 0 2px color(var(--color-grey) alpha(50%)),*/
    /*0 0 0 0.5px color(var(--color-grey) alpha(50%));*/
}

.block {
    display: block;
    text-align: center;
    width: 100%;
}

.disabled {
    border: 1px solid var(--color-light-grey);
    color: var(--color-light-grey);
    cursor: default;
}

.disabled:hover {
    border-color: var(--color-light-grey);
    color: var(--color-light-grey);
}

.disabled:active {
    background-color: white;
}

.disabled:focus {
    box-shadow: none;
}
