$a: green;

$color-grey: grey;
$color-dark-grey: darken($color-grey, 20%);
$color-light-grey: lighten($color-grey, 20%);

$transition-duration-standard: 300ms;

$easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1)
